body {
  background-color: #d7d7d7;
}

ul,
li {
  list-style-type: none;
  padding-left: 0; /* Удаляем отступ слева, если он есть */
}

.location {
  margin-bottom: 1.25em;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 1em;
  text-align: right;
  font-weight: 500;
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  gap: 1em;
  font-size: 1em;
  flex-direction: column;
}

.inner {
  border-radius: 1.25em;
  padding: 1em;
  background-color: #fff;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 150px;
}

.inner--titile {
  display: flex;
  justify-content: space-between;
}

.inner--time {
  font-size: 1em;
  font-weight: 800;
}

.inner--time_text {
   margin: 0;
}

.titile--time {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

#time {
  text-align: right;
}
